@model Homepage
@{
    ViewBag.Title = "Index";
}


<!-- Start: Slides  -->
<div class="slides_wrapper">
    <div class="slider_home">
        @foreach (var slide in Model.Slides)
        {
            <div class="single_slider slide_bg_2" style="background-image:url('/Uploads/@slide.Photo')">
                <div class="slider_item_tb">
                    <div class="slider_item_tbcell">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-7 col-xs-12">
                                    <h2><span class="slide_st1">@slide.Title</span></h2>
                                    <p>@slide.Desc</p>
                                    @if (!string.IsNullOrEmpty(slide.BtnText))
                                    {
                                        <div class="slider_btn">
                                            <a href="@slide.BtnUrl" class="more-link slider_btn_one">@slide.BtnText</a>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
<!-- End:  slider
    ==================================================-->
<!-- Start: Promo Section
==================================================-->
<div class="promo-area">
    <div class="container">
        <div class="promo-container">
            <div class="row">
                @foreach (var prm in Model.Promos)
                {
                    <div class="col-md-4 col-sm-4 ">
                        <div class="promo-wrap">
                            <div class="promo-icon">
                                <img src="~/Uploads/@prm.Icon" alt="@prm.Name">
                            </div>
                            <div class="promo-content">
                                <h4>@prm.Name</h4>
                                <p>@prm.Desc</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- End: Promo Section
==================================================-->

@{
    Html.RenderPartial("~/Views/Shared/_AboutText.cshtml",model:Model.AboutText);
    Html.RenderPartial("~/Views/Shared/_ServicesList.cshtml",model:Model.Services);
}

<!-- Start: Choose Us Section
==================================================-->
<section class="video_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xs-12">
                <div class="video_wrp">
                    <h3>Find Out All Cleaning Service We Offer.</h3>
                    <h4>Get Your Quote or Call: (0050) 123-356-689</h4>
                    <a href="@ViewBag.Setting.VideoUrl" class="animated_play_btn"><i class="fa fa-play"></i></a>
                </div>
            </div>
            <!-- /.chooseus-warper-->
        </div>
        <!-- /. row -->
    </div>
    <!-- /. container -->
</section>
<!-- End: Choose Us Section
==================================================-->

@{
    Html.RenderPartial("~/Views/Shared/_TeamMembers.cshtml");
}

<!-- Start: Work Section
==================================================-->
<section class="work-section">
    <div class="container">
        <!-- Start: Heading -->
        <div class="base-header">
            <h3>Our latest <span class="ylow_clr">Projects</span></h3>
        </div>
        <!-- End:  heading -->
        <div class="section_btn">
            <a href="gallery.html" class="more-link">More Work</a>
        </div>
        <!-- Start: Work filter -->
        <ul class="projects-titles">
            <li class="active" data-filter="*">
                <span>all work</span>
            </li>
            <li data-filter=".web">
                <span>carpet</span>
            </li>
            <li data-filter=".design">
                <span>floor</span>
            </li>
            <li data-filter=".graphics">
                <span>house</span>
            </li>
            <li data-filter=".photoshop">
                <span>office</span>
            </li>
            <li data-filter=".photoshop">
                <span>pool</span>
            </li>
        </ul>
        <!-- End: Work filter -->
        <div class="row projects-list">
            <div class="col-md-4 col-xs-12 web graphics">
                <div class="single-project-item">
                    <div class="project-hover">
                        <div class="project_cnt">
                            <a class="project-link" href="images/work-1.jpg"><i class="icon-glyph-26"></i></a>
                            <h6><a href="gallery.html">Office cleaning</a></h6>
                            <span><a href="single-gallery.html">category : cleaning</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End: Work Item 1 -->
            <div class="col-md-4 col-xs-12 development photoshop">
                <div class="single-project-item project-bg-2">
                    <div class="project-hover">
                        <div class="project_cnt">
                            <a class="project-link" href="images/work-2.jpg"><i class="icon-glyph-26"></i></a>
                            <h6><a href="gallery.html">House cleaning</a></h6>
                            <span><a href="single-gallery.html">category : cleaning</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End: Work Item 2 -->
            <div class="col-md-4 col-xs-12 web design">
                <div class="single-project-item project-bg-3">
                    <div class="project-hover">
                        <div class="project_cnt">
                            <a class="project-link" href="images/work-3.jpg"><i class="icon-glyph-26"></i></a>
                            <h6><a href="gallery.html">Floor cleaning</a></h6>
                            <span><a href="single-gallery.html">category : cleaning</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End: Work Item 3 -->
            <div class="col-md-4 col-xs-12 design web development">
                <div class="single-project-item project-bg-4">
                    <div class="project-hover">
                        <div class="project_cnt">
                            <a class="project-link" href="images/work-4.jpg"><i class="icon-glyph-26"></i></a>
                            <h6><a href="gallery.html">Pool cleaning</a></h6>
                            <span><a href="single-gallery.html">category : cleaning</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End: Work Item 4 -->
            <div class="col-md-4 col-xs-12 web graphics">
                <div class="single-project-item project-bg-5">
                    <div class="project-hover">
                        <div class="project_cnt">
                            <a class="project-link" href="images/work-5.jpg"><i class="icon-glyph-26"></i></a>
                            <h6><a href="gallery.html">House cleaning</a></h6>
                            <span><a href="single-gallery.html">category : cleaning</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End: Work Item 5 -->
            <div class="col-md-4 col-xs-12 design development web">
                <div class="single-project-item project-bg-6">
                    <div class="project-hover">
                        <div class="project_cnt">
                            <a class="project-link" href="images/work-6.jpg"><i class="icon-glyph-26"></i></a>
                            <h6><a href="gallery.html">Home cleaning</a></h6>
                            <span><a href="single-gallery.html">category : cleaning</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End: Work Item 6 -->
        </div>
    </div>
</section>
<!-- End: Work Section
==================================================-->
@{
    Html.RenderPartial("~/Views/Shared/_PriceList.cshtml");
}

@{
    Html.RenderPartial("~/Views/Shared/_Testimonial.cshtml");
}

<!-- Start: Our Blog Section
==================================================-->
<section class="blog-section">
    <div class="container">
        <!-- Start: Heading -->
        <div class="base-header">
            <h3>Latest <span class="ylow_clr"> News </span> </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Phasellus id lectus quis dui euismod con placerat massa nec elit egestas efficitur. </p>
        </div>
        <!-- End: Heading -->
        <div class="row">
            <div class="col-md-12">
                <div class="owl-carousel owl-theme" id="blog_carousel">
                    <div class="item">
                        <div class="blog_box">
                            <a class="blog_box_ovrlay" href="blog.html">
                                <img class="img-responsive" src="~/Public/images/blog1.jpg" alt="">
                            </a>
                            <div class="blog_info_right">
                                <a href="blog.html">
                                    <h3>Benefits of summer cleaning tips how to clean office </h3>
                                </a>
                                <div class="blog_post_date">
                                    <span>August 6, 2019</span>
                                </div>
                                <p>There are many cons ectet a ur elit at. Vestibulum necod ios suspe age a to ndisse cursus mal suada facime ...</p>
                                <span class="blog_read"><a href="blog.html">Read more</a><i class="icon-right-open"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="blog_box">
                            <a class="blog_box_ovrlay" href="blog.html">
                                <img class="img-responsive" src="~/Public/images/blog2.jpg" alt="">
                            </a>
                            <div class="blog_info_right">
                                <a href="blog.html">
                                    <h3>Tips for cleaning house before moving out for house tips</h3>
                                </a>
                                <div class="blog_post_date">
                                    <span>August 6, 2019</span>
                                </div>
                                <p>There are many cons ectet a ur elit at. Vestibulum necod ios suspe age a to ndisse cursus mal suada facime ...</p>
                                <span class="blog_read"><a href="blog.html">Read more</a><i class="icon-right-open"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="blog_box">
                            <a class="blog_box_ovrlay" href="blog.html">
                                <img class="img-responsive" src="~/Public/images/blog3.jpg" alt="">
                            </a>
                            <div class="blog_info_right">
                                <a href="blog.html">
                                    <h3>Benefits of summer cleaning tips how to for house tips</h3>
                                </a>
                                <div class="blog_post_date">
                                    <span>August 6, 2019</span>
                                </div>
                                <p>There are many cons ectet a ur elit at. Vestibulum necod ios suspe age a to ndisse cursus mal suada facime ...</p>
                                <span class="blog_read"><a href="blog.html">Read more</a><i class="icon-right-open"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /. row -->
    </div>
    <!-- /. container -->
</section>
<!-- End: Our Blog Section
==================================================-->

@{
    Html.RenderPartial("~/Views/Shared/_Partners.cshtml");
}