@{ 
    List<SocialLink> socialLinks = ViewBag.SocialLinks as List<SocialLink>;
    Setting setting = ViewBag.Setting as Setting;
}

<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]> <!-->
<html lang="zxx">
<!--
<![endif]-->
<head>
    <!-- TITLE OF SITE -->
    <title>klinspot - Clining Company HTML Template</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="klinspot - Clining Company HTML Template" />
    <meta name="keywords" content="klinspot, business, corporate, one page, multipage, responsive, landing, html template" />
    <meta name="author" content="klinspot">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Favicons -->
    <link rel="icon" type="image/png" href="~/Public/images/favicon.png">


    <!-- CSS Begins
    ================================================== -->
    <!--Animate Effect-->
    <link href="~/Public/css/animate.css" rel="stylesheet">
    <link href="~/Public/css/hover.css" rel="stylesheet">

    <!-- For Image Preview -->
    <link rel="stylesheet" href="~/Public/css/magnific-popup.css">

    <!--Owl Carousel -->
    <link href="~/Public/css/owl.carousel.css" rel="stylesheet">
    <link href="~/Public/css/owl.transitions.css" rel="stylesheet">

    <!--BootStrap -->
    <link href="~/Public/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Public/css/normalize.css" rel="stylesheet">

    <!-- Main Style -->
    <link href="~/Public/css/style.css" rel="stylesheet">
    <link href="~/Public/css/responsive.css" rel="stylesheet">


    <!--[if IE]>
    <script src="~/Public/https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="~/Public/https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- ::::::::::::::::::::::::::: Start: Preloader section :::::::::::::::::::::::::::-->
    <div id="preloader"></div>
    <!-- ::::::::::::::::::::::::::: End: Preloader section ::::::::::::::::::::::::::: -->
    <!-- Start: Header Section
    ==================================================-->
    <div class="header_topbar">
        <!-- Logo -->
        <div class="container">
            <div class="row justify-content-between">
                <div class="header_top_left">
                    <ul class="header_socil list-inline pull-left">
                        @foreach (var sl in socialLinks)
                        {
                            <li>
                                <a href="@sl.Url" target="_blank" class="fa fa-@sl.Icon"></a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="header_top_right list-unstyled">
                    <ul>
                        <li><i class="fa fa-envelope"></i>@setting.Email</li>
                        <li><i class="fa fa-phone"></i>@setting.HeaderPhone</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End: Header Info -->
    <!-- Start: header navigation -->
    <div class="navigation">
        <div class="container">
            <div class="row">
                <div class="logo col-xs-8 col-sm-2">
                    <a href="@Url.Action("index","home")">
                        <img class="img-responsive" src="~/Uploads/@setting.Logo" alt="">
                    </a>
                </div>
                <div class="col-sm-10">
                    <div id="navigation">
                        <ul>
                            <li>
                                <a href="@Url.Action("index","home")">Ana səhifə</a>
                            </li>
                            <li>
                                <a href="@Url.Action("index","about")">Haqqımızda</a>
                            </li>
                            <li>
                                <a href="@Url.Action("index","services")">Xidmətlərimiz</a>
                            </li>
                            <li>
                                <a href="@Url.Action("index","news")">Xəbərlər</a>
                            </li>
                            <li>
                                <a href="@Url.Action("index","contact")">Əlaqə</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--/ row -->
        </div>
        <!--/ container -->
    </div>
    <!-- End: header navigation -->
    

    @RenderBody()
    <!-- Start:Footer Section
    ==================================================-->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <!-- Start: About -->
                <div class="col-lg-3 col-xs-12">
                    <div class="widget">
                        <div class="footer_logo">
                            <img class="img-responsive" src="~/Public/images/logo.png" alt="">
                        </div>
                        <div class="footer_socil">
                            <ul class="list-icons link-list footer_soc">
                                <li>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-behance"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer_p">
                            <p class="footer_para">Loren ipsum dolor conse ctetur at adipis cing elit sed do eiu smod of tempor inci didunt know youlab a et dolore magna aliqua </p>
                        </div>
                    </div>
                </div>
                <!-- End: About -->
                <!-- Start: Latest post -->
                <div class="col-lg-3 col-xs-12">
                    <div class="widget quick_lnk">
                        <h5>Quick Link</h5>
                        <ul>
                            <li>
                                <a href="services.html">Residential Cleaning</a>
                            </li>
                            <li>
                                <a href="services.html">Commercial Cleaning</a>
                            </li>
                            <li>
                                <a href="services.html">Constraction Cleaning</a>
                            </li>
                            <li>
                                <a href="services.html">Residential Cleaning</a>
                            </li>
                            <li>
                                <a href="services.html">Living Area Cleaning</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End: Latest post -->
                <!-- Start: Latest post -->
                <div class="col-lg-3 col-xs-12">
                    <div class="widget">
                        <h5>Latest post</h5>
                        <ul class="recent-post">
                            <li>
                                <div class="recent-post-date">
                                    <strong>17</strong> Ju
                                </div>
                                <a href="blog.html">Consectetur adipiscing elit oren ipsum dolor  sed do </a>
                            </li>
                            <li>
                                <div class="recent-post-date">
                                    <strong>14</strong> Ju
                                </div>
                                <a href="blog.html">Aonsectetur adipiscing elit oren ipsum dolor  sed do </a>
                            </li>
                            <li>
                                <div class="recent-post-date">
                                    <strong>19</strong> Ju
                                </div>
                                <a href="blog.html">Fonsectetur adipiscing elit oren ipsum dolor  sed do </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End: Latest post -->
                <!-- Start:Tag -->
                <div class="col-lg-3 col-xs-12">
                    <div class="widget">
                        <h5>Tags</h5>
                        <!-- Start Subscribe -->
                        <div class="box-content">
                            <div class="tags">
                                <a href="#a">Tags</a> <a href="#a">Best</a> <a href="#">Free</a> <a href="#a">Popular</a> <a href="#a">Wordpress</a> <a href="#a">Fashion</a> <a href="#">landing</a> <a href="#a">HTML</a> <a href="#a">CSS</a>
                                <a href="#a">Free</a> <a href="#">PHP</a> <a href="#a">Design</a> <a href="#a">Layout</a> <a href="#a">PHP</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End:Tag -->
                <!-- Start:Subfooter -->
                <div class="subfooter">
                    <div class="col-xs-6">
                        <p>2019 © Copyright <a href="index-2.html">klinspot.</a> All rights Reserved.</p>
                    </div>
                    <div class="col-xs-6">
                        <a class="scrollup" href="#"><span class="icon-glyph-39"></span></a>
                    </div>
                </div>
                <!-- End:Subfooter -->
            </div>
        </div>
    </footer>
    <!-- End:Footer Section
    ========================================-->
    <!-- Scripts
    ========================================-->
    <!-- jquery -->
    <script src="~/Public/js/jquery-1.12.4.min.js"></script>
    <!-- plugins -->
    <script src="~/Public/js/plugins.js"></script>
    <!-- Bootstrap -->
    <script src="~/Public/js/bootstrap.min.js"></script>
    <script src="~/Public/js/popper.min.js"></script>
    <script src="~/Public/js/waypoints.min.js"></script>

    <!-- Custom Scripts
    ========================================-->
    <script src="~/Public/js/main.js"></script>

</body>


</html>