@model List<Member>
<!--  Start:Team Section
==================================================-->
<section class="team-section">
    <div class="container">
        <!-- Start: Heading -->
        <div class="base-header">
            <h3>Team <span class="ylow_clr">member</span></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Phasellus id lectus quis dui euismod con placerat massa nec elit egestas efficitur. </p>
        </div>
    </div>
    <div class="container-fulid">
        <!-- End: Heading -->
        <div class="owl-carousel owl-theme" id="team">
            @foreach (var member in Model)
            {
                <div class="item">
                    <!-- profile 1-->
                    <div class="member">
                        <div class="img">
                            <div class="team_img">
                                <img alt="team" class="img-responsive" src="~/Uploads/@member.Photo">
                            </div>
                            <div class="team_info_overlay">
                                <h6>@member.Fullname</h6>
                                <p>@member.Position</p>
                                <ul class="social list-inline">
                                    @foreach (var link in member.MemberLinks)
                                    {
                                        <li>
                                            <a href="@link.Url" target="_blank" title="@member.Fullname on @link.Name"><i class="fa fa-@link.Name"></i></a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <!--/.container -->
</section>
<!--  End:Team Section
==================================================-->
